body{
    margin: 0px;
    text-align: center;
}
.container1{
    background-color: #5f3bfe;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
#input-el{
    height: 60px;
    text-align: center;
    width: 90px;
    margin-top: 12px;
    color:white;
    margin-bottom: 36px;
    font-size: xxx-large;
    padding: 10px 20px;
    border:4px solid #9f7fff;
    border-radius: 6px;
    background-color:#5f3bfe ;
}
#convert-btn{
    background-color: white;
    color:#545454;
    border: 1px solid #7263c1;
    font-weight: bold;
    padding:10px 20px;
    border-radius: 4px;
}
.lastsec{
    background-color:#f3f3f3;
    width: 100%;
    height: 800px;
    margin: 0px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h4{
    color:#4a485e;
    font-family: Arial, Helvetica, sans-serif;
}
.container2{
    background-color: #fefefe;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 80px;
    width: 400px;
    border-radius: 6px;
    padding-bottom: 12px;
}
p{
    color:#727272;
    font-family: Arial, Helvetica, sans-serif;
}